NODE_ENV=production
PORT=4000
DATABASE=postgres://username:password@my.domain.com:5432/cred-server
APP_NAME=cred-server
ISSUER=cred-server
ORIGIN=*
CRED_ACCESS_PRIVATE_KEY=./config/keys/access_private.pem
CRED_ACCESS_PUBLIC_KEY=./config/keys/access_public.pem
CRED_ACCESS_EXPIRES_IN=24h
CRED_ACCESS_ALGORITHM=ES384
CRED_REFRESH_SECRET=my_super_secret_secret
CRED_REFRESH_EXPIRES_IN=7d
CRED_REFRESH_ALGORITHM=HS512
