-----BEGIN EC PRIVATE KEY-----
MIGkAgEBBDBb1vqRczW9iPx+IzMhiaGdktEU2uM55DVHkcoycCAWsvvFeoWxHa4u
rjXSDKEF7E6gBwYFK4EEACKhZANiAATrCtceskqssrUJJuAwerWqE4u20F3Na0bx
kQYDnOwjlPkDvkyLEHGaAH1WIBeM6WWSDAQi4l4N3t2PSp9ySNWg/AhHu1h6DctJ
GPQk+u6C5rzF/zLCi5WzH0LGS8OUdJU=
-----END EC PRIVATE KEY-----
